/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header{
  position: fixed;
  height: 20%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightblue;
  padding-top: 20px;
  padding-bottom: 40px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  position: relative;
}

.Information{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staffNo{
  padding-top: 120px;
}

  .header .label:target {
    display: inline-block;
  }

.ID {
  margin-bottom: 30px;
  height: 40px;
}

.label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
  margin-right: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 30px;
  background-color: #fff;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: -300px;
}

.card {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  max-width: 160px;
  max-height: auto;
}

.card.selected {
  border: 2px solid #4CAF50; 
}

#selectedImagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px;
}

.selectedImagesArea{
  width: 70%;
  height: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.selectedImagesArea h2{
  font-size: 30px;
  padding: 20px 0;
}

#selectedImagesContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px; 
  justify-content: center;
  max-width: 100%; 
}

.selectedImage {
  max-width: 120px;
  margin-right: 10px;
}

.selectedImage img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.removeImageBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 0.7;
  z-index: 2; 
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: lightblue;
  padding-top: 30px;
  padding-bottom: 60px;
}

input,
button {
  display: block;
  margin: 0 auto;
}

.submitbtn{
  font-size: 18px;
  width: 200px;
  height: 50px;
}

.downloadExcel{
  font-size: 18px;
  width: 200px;
  height: 50px;
}