/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header{
  position: fixed;
  height: 10%;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(https://github.com/RaymondLam888/vaskcards/assets/106653257/7de349c4-cc7b-40d6-a854-99091ce8da73);  
  background-size: cover; /* 让背景图片尽可能填充整个区域 */
  padding-top: 20px;
  z-index: 1000;
  position: relative;
}

.Information{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.staffNo{
  width: 10%;
  padding: 30px;
  background-color: #fff; /* 更改为白色背景 */
  border-radius: 20px; /* 添加圆角 */
}

.logo-container {
  display: flex; /* 使用Flexbox布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  margin-bottom: 120px;
}

.logo{
  max-width: 100%; /* 设置logo的最大宽度为其父容器的100% */
  height: auto; /* 让logo的高度随宽度自动调整 */
}

.header .label:target {
  display: inline-block;
}

.inputName{
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

#employeeId{
  height: 30px;
  width: 70%;
}

.ID {
  margin-bottom: 30px;
  height: 40px;
}

.label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
  margin-right: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 30px;
  background-color: #fff;
  width: 100px;
}

.label.active {
  background-color: #ffc43a; /* 设置选中按钮的背景颜色 */
  color: #fff; /* 设置选中按钮的文字颜色为白色 */
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 20px; /* 與 header 保持固定距離 */
  left: 0;
  right: 0;
  padding-bottom: 200px;
}

#buttonGroups1{
  background-color: #001f4b;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px 800px;
}

.card {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  max-width: 160px;
  max-height: auto;
}

.card.selected {
  border: 2px solid #4CAF50; 
}

#selectedImagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
}

.selectedImagesArea{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.selectedImagesArea h2{
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 40px;
}

.selectedImage {
  max-width: 120px;
  margin-right: 10px;
}

.selectedImage img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://github.com/RaymondLam888/vaskcards/assets/106653257/7de349c4-cc7b-40d6-a854-99091ce8da73);  
  background-size: cover; /* 让背景图片尽可能填充整个区域 */
  padding-top: 30px;
  padding-bottom: 60px;
}

input,
button {
  display: block;
  margin: 0 auto;
}

.submitbtn{
  font-size: 18px;
  width: 200px;
  height: 50px;
}

.downloadExcel{
  font-size: 18px;
  width: 200px;
  height: 50px;
}